@charset "utf-8";
/* CSS Document */
form{
	
	width:300px;
	margin:auto;
}
form input{
	width:120px;
	height:25px;
	margin-top:3px;
}
form img{
	position:relative;
	top:7px;
}
form .submit,.register{
	cursor:pointer;
}
